*{
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-color: #19a1ad;
    overflow: hidden;
}
body img.top{
    width: 500px;
    margin-left: -150px;
    margin-top: -175px;
}
main {
    width: 500px;
    margin: auto;
    margin-top: -5%;
}
main> img {
    margin-bottom: -50px;
    width: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

body img.bottom{
    margin-left: 70%;
    margin-bottom: -24%;
    width: 300px;
}
.container h1,.container .about h2{
    display:inline;
}
.container .about h2{
    margin-left: 10px;
}
.container{
    text-align: center;
    background-color: #fbfdfb;
    padding-bottom: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container img {
    border-radius: 50%;
    border: 5px solid #fbfdfb;
}

.container .followers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .names {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container .followers h2:first-child{
    margin: 10px;
}

.container .followers{
    margin-bottom: -25px;
}
@media(max-width:512px){
    .attribution{
        margin-left: 130px;
    }
    main{
        margin-left:10px;
    }
}


